{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Learning Academy</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container">

        <div class="card" style="margin-top: 20px; ">
            <div class="card-body">
                <h5 class="card-title">Success</h5>
                <p class="card-text">{{ message }}</p>
            </div>
        </div>

    </div>
</body>

</html>