{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Learning Academy</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="container">


        {% include 'navbar.html' %}

        <h2>Trainers at the academy</h2>

        <table>
            <thead>
                <tr>
                    <th>Trainer ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Expertise</th>
                    <th>Photo</th>
                </tr>
            </thead>
            <tbody>
                {% for trainer in trainers %}
                <tr>
                    <td>{{ trainer.id }}</td>
                    <td>{{ trainer.full_name }}</td>
                    <td>{{ trainer.email }}</td>
                    <td>{{ trainer.expertise }}</td>
                    <td><img src="{{ trainer.photo.url }}" alt="{{ trainer.full_name }}"
                            style="width: 50px; height: 50px; border-radius: 50%;"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> <!-- End of container -->
</body>

</html>