{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Learning Academy</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container">

        <div class="page-header">
            <h2>Trainers at the academy</h2>
            <a class="btn btn-primary" href="{% url 'add_trainer' %}">Add New Trainer</a>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Trainer ID</th>
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Expertise</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    {% for trainer in trainers %}
                    <tr>
                        <td>{{ trainer.id }}</td>
                        <td><img src="{{ trainer.trainer_photo.url }}" alt="{{ trainer.full_name }}"
                                style="width: 50px; height: 50px; border-radius: 50%;"></td>
                        <td>{{ trainer.full_name }}</td>
                        <td>{{ trainer.email }}</td>
                        <td>{{ trainer.expertise }}</td>
                        <td>
                            <div>
                                <a href="{% url 'trainer_detail' trainer.id %}"><i class="fa fa-eye"></i></a>
                                <a href="{% url 'edit_trainer' trainer.id %}"><i class="fa fa-edit"></i></a>
                                <a href="{% url 'delete_trainer' trainer.id %}"><i class="fa fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div> <!-- End of container -->
</body>

</html>